.input {
	padding: 10px;
	border-radius: 4px;
	outline: 0;
	margin-left: 10px;
	border: 2px solid rgba(128, 128, 128, 0.514);
	transition: all .2s;
	font-weight: bold;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2) ;
}

.input-label {
	text-align: center;
}

.input:focus {
	border: 2px solid #648DE5;
	color: #648DE5;
}